.footer{
    background: #000;
    display: grid;
   grid-template-columns: repeat(5,1fr);
   align-items: center;
   
   position: relative;;
   width:100%;
   border: #fff solid 1px;
   bottom: 0;
   padding: 40px 0px;
}
.footer .footer-icon{
    display: flex;
    justify-content:center;
}
.footer .footer-icon h1{
    /* width: 20%; */
    padding:0px 6px;
    letter-spacing: 3px;
    border: #fff solid 2px;
    color:#fff;
}
.footer .tags ul li{
 color: #fff;
 list-style-type: none;
 text-align: left;
 text-transform: uppercase;
 font-weight: 500;
 font-size: 12px;
 line-height: 2;
}
.footer .footer-4{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.footer .footer-4 .f-header{
    margin-bottom: 8px;
}
.footer .footer-4 .f-header span{
    color:#fff;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.9rem;
    
}
.footer .footer-4 .f-subscribe{
    display: flex;
}
.footer .footer-4 .f-subscribe input{
    outline: none;
    padding:10px 5px;
    background: #1c1c1c;
    border:none;
    
}
.footer .footer-4 .f-subscribe input::placeholder {
  color: #fff;
}
.footer .footer-4 .f-subscribe span{
    background:red;
    color:#fff;
    padding:8px;
}